@model IEnumerable<KASY_RIDES.Models.PPayments>

@{
    ViewData["Title"] = "MyPayments";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
        text-align: center;
    }

    header {
        background-color: #000;
        color: #fff;
        padding: 20px;
    }

    .container {
        max-width: 1000px;
        margin: 40px auto;
        padding: 50px 20px;
        /* background: white; */
        background-image: url('https://t3.ftcdn.net/jpg/04/99/56/30/240_F_499563059_GGQxzylCFmlUlL1jr5rVrbYE9yk9vkmp.jpg');
        background-size: cover;
        border: 1px solid#ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        margin: 0;
    }

    .container {
        padding: 50px 20px;
    }

    .description {
        margin: 20px 0;
        font-size: 1.2em;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 1em;
        text-align: center;
        clear: both;
    }

</style>
<body>
    <div class="container">
        <header>
            <h1>My Payments</h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS02qPnvJZZtWoCfpC1S7quJUEsSJxehJQmOQ&s" alt="logo" width="100" height="100" />
        </header>

        <p>
            <a asp-action="Payment">Pay Now!!!</a>
        </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cvc)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cvc)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Amount)
            </td>
            
        </tr>
}
    </tbody>
</table>
</div>
</body>
